<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Vets</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <th th:text="#{vet.name}">Name</th>
        <th th:text="#{vet.surname}">Surname</th>
        <th th:text="#{vet.pesel}">Pesel</th>
        <th th:text="#{vet.specialties}">Specialties</th>
        <th>Delete</th>
        <th>Edit</th>
        </thead>
        <tbody>
        <tr th:each="vet : ${listOfVets}">
            <th th:text="${vet.name}">Name</th>
            <th th:text="${vet.surname}">Surname</th>
            <th th:text="${vet.pesel}">Pesel</th>
            <th th:text="${vet.specialties}">Specialties</th>
            <td><a class="btn btn-danger" th:href="@{/vets/delete/{idVet}(idVet=${vet.idVet})}">Delete vet</a></td>
            <td><a class="btn btn-warning" th:href="@{/vets/edit/{idVet}(idVet=${vet.idVet})}">Edit vet</a></td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#"
                   th:href="@{/vets(size=${listOfVets.size},page=0)}"
                   aria-label="First">
                    <span aria-hidden="true">&lt;&lt;</span>
                    <span class="sr-only">First</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#"
                   th:href="@{/vets(size=${listOfVets.size},page=${listOfVets.hasPrevious() ? listOfVets.previousPageable().pageNumber : 0})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>


            <li class="page-item">
                <a class="page-link"
                   th:text="${listOfVets.number + 1}"
                   th:href="@{/vets(page=${listOfVets.number}, size=${listOfVets.size})}"
                   href="#">1</a></li>


            <li class="page-item">
                <a class="page-link" href="#"
                   th:href="@{/vets(page=${listOfVets.hasNext() ? listOfVets.nextPageable().pageNumber : listOfVets.totalPages - 1}, size=${listOfVets.size})}"
                   aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#"
                   th:href="@{/vets(page=${listOfVets.totalPages - 1},size=${listOfVets.size})}"
                   aria-label="Last">
                    <span aria-hidden="true">&gt;&gt;</span>
                    <span class="sr-only">Last</span>
                </a>
            </li>
        </ul>
    </nav>

    <a class="btn btn-primary" th:href="@{/vets/add}">Add new vet</a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
