<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Owners</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<div class="container">

    <table class="table">
        <thead>
        <th th:text="#{owner.name}">Name</th>
        <th th:text="#{owner.surname}">Surname</th>
        <th th:text="#{owner.pesel}">Pesel</th>
        <th th:text="#{owner.numberOfAnimals}">Number of animals</th>
        <th>Delete</th>
        <th>Edit</th>
        </thead>
        <tbody>
        <tr th:each="owner : ${listOfOwners}">
            <td th:text="${owner.name}">Name</td>
            <td th:text="${owner.surname}">Surname</td>
            <td th:text="${owner.pesel}">Pesel</td>
            <td th:text="${owner.numberOfAnimals}">Number of animals</td>
            <td><a class="btn btn-danger" th:href="@{/owners/delete/{idOwner}(idOwner=${owner.idOwner})}">Delete owner</a></td>
            <td><a class="btn btn-warning" th:href="@{/owners/edit/{idOwner}(idOwner=${owner.idOwner})}">Edit owner</a></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{/owners/add}">New owner</a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
