<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of animals</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <!--<a href="/login-form">Zaloguj mnie</a>-->
    <table class="table">
        <thead>
        <th th:text="#{animal.name}">Name</th>
        <th th:text="#{animal.category}">Category</th>
        <th th:text="#{animal.breed}">Breed</th>
        <th th:text="#{animal.birthDate}">Birth Date</th>
        <th>Owner</th>
        <th>Delete</th>
        <th>Edit</th>
        </thead>
        <tbody>
        <tr th:each="animal : ${listOfAnimals}">
            <td th:text="${animal.name}">Name</td>
            <td th:text="${animal.category}">Category</td>
            <td th:text="${animal.breed}">Breed</td>
            <th th:text="${animal.birthDate}">Birth Date</th>
            <td><span th:if="${animal.owner} != null" th:text="${#strings.concatReplaceNulls(' ', animal.owner.surname,  animal.owner.name)}">Surname Name</span></td>
            <td><a class="btn btn-danger" th:href="@{/animals/delete/{idAnimal}(idAnimal=${animal.idAnimal})}">Delete animal</a></td>
            <td><a class="btn btn-warning" th:href="@{/animals/edit/{idAnimal}(idAnimal=${animal.idAnimal})}">Edit animal</a></td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#"
                   th:href="@{/animals(size=${listOfAnimals.size},page=0)}"
                   aria-label="First">
                    <span aria-hidden="true">&lt;&lt;</span>
                    <span class="sr-only">First</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#"
                   th:href="@{/animals(size=${listOfAnimals.size},page=${listOfAnimals.hasPrevious() ? listOfAnimals.previousPageable().pageNumber : 0})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>


            <li class="page-item">
                <a class="page-link"
                   th:text="${listOfAnimals.number + 1}"
                   th:href="@{/animals(page=${listOfAnimals.number}, size=${listOfAnimals.size})}"
                   href="#">1</a></li>


            <li class="page-item">
                <a class="page-link" href="#"
                   th:href="@{/animals(page=${listOfAnimals.hasNext() ? listOfAnimals.nextPageable().pageNumber : listOfAnimals.totalPages - 1}, size=${listOfAnimals.size})}"
                   aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#"
                   th:href="@{/animals(page=${listOfAnimals.totalPages - 1},size=${listOfAnimals.size})}"
                   aria-label="Last">
                    <span aria-hidden="true">&gt;&gt;</span>
                    <span class="sr-only">Last</span>
                </a>
            </li>
        </ul>
    </nav>

    <a class="btn btn-primary" th:href="@{/animals/add}">Add animal</a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
