<!doctype html>
<html lang="en">
<head>
    <title>New animal</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/animals/saveNew}" th:object="${newA}" method="post">
        <div class="form-group">
            <label for="name">Animal name</label>
            <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('name')}? is-valid" type="text" class="form-control" id="name" name="name" th:value="*{name}" aria-describedby="nameHelp" placeholder="Put name here"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                Please provide a valid name.
            </div>
        </div>

        <div class="form-group">
            <label for="category">Animal category</label>
            <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('category')}? is-valid" type="text" class="form-control" id="category" name="category" th:value="*{category}" aria-describedby="categoryHelp" placeholder="Put category here"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">
                Please provide a valid category.
            </div>
        </div>

        <div class="form-group">
            <label for="breed">Animal breed</label>
            <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('breed')}? is-valid" type="text" class="form-control" id="breed" name="breed" th:value="*{breed}" aria-describedby="breedHelp" placeholder="Put breed here"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('breed')}" th:errors="*{breed}">
                Please provide a valid breed.
            </div>
        </div>

        <div class="form-group">
            <label for="birthDate">Animal birth date</label>
            <input th:errorclass="is-invalid" th:classappend="${#fields.hasAnyErrors() and not #fields.hasErrors('birthDate')}? is-valid" type="text" class="form-control" id="birthDate" name="birthDate" th:value="*{birthDate}" aria-describedby="birthDateHelp" placeholder="Put birth date here"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">
                Please provide a valid birthDate.
            </div>
        </div>

        <select th:field="*{idOwner}">
            <option th:each="owner : ${listOfOwners}" th:value="${owner.idOwner}" value="1" th:text="${owner.surname + owner.name}">Surname name</option>
        </select>

        <button type="submit" class="btn btn-primary">Save animal</button>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>